@keyframes floaty{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-4rem);
  }
}

@keyframes zoomy{
  0%, 100%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.8);
  }
}

@keyframes grimmace{
  0%, 80%{
    transform: scaleY(1);
  }
  8%{
    transform: scaleY(1);
  }
  16%, 20%{
    transform: scaleY(0.6);
  }
  24%, 32%, 40%, 75%{
    transform: scaleY(0.7);
  }
  4%, 28%, 36%, 44%, 77%{
    transform: scaleY(0.9);
  }
}

@keyframes tipsy{
  8%, 20%, 45%, 92% {
    transform: rotate(-12deg);
  }

  76% {
    transform: rotate(-15deg);
  }

  15%, 27%, 56%, 82% {
    transform: rotate(-8deg);
  }
}

@keyframes shifty{
  0%, 21%, 50%, 71%, 100%{
    transform: translateX(0rem);
  }
  1%, 20%{
    transform: translateX(-1rem);
  }
  6%{
    transform: translateX(-0.7rem);
  }
  51%, 70%{
    transform: translateX(1rem);
  }
  56%{
    transform: translateX(0.7rem);
  }
}

@keyframes flickerbg{
  0%, 18%, 29%, 32%, 34%, 45%, 100%{
    background-color: darken($orange, 50%);
  }
  12%, 31%, 33% {
    background-color: darken($orange, 30%);
  }
  70% {
    background-color: darken($orange, 25%);
  }
}

@keyframes flickerbr{
  0%, 18%, 29%, 32%, 34%, 45%, 100%{
    border-bottom-color: darken($orange, 50%);
  }
  12%, 31%, 33% {
    border-bottom-color: darken($orange, 30%);
  }
  70% {
    border-bottom-color: darken($orange, 25%);
  }
}
