#ghost > div{
  animation: floaty 2s infinite;
  animation-timing-function: ease-in-out;
  width: auto;
  margin: 5px auto;
  position: relative;

  .body{
    @include body;
    position: relative;
    margin: auto;
    width: 14rem;
    height: 19rem;
    border-top-right-radius: 7rem;
    border-top-left-radius: 7rem;

    &:before,
    &:after{
      content: '';
      position: absolute;
      z-index: -2;
      top: 13rem;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      background: darken($white, 5%);
      animation: floaty .3s infinite;
      animation-timing-function: ease-in-out;
    }
    &:before{ left: -3.2rem; }
    &:after { right: -2.1rem; animation-delay: -0.1s; }
  }

  .eyes{
    display: flex;
    justify-content: space-between;
    margin: 0rem auto;
    padding: 6rem 0rem 0rem;
    width: 5rem;
    height: 1.2rem;
    animation: shifty 15s infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;

    &:before,
    &:after{
      content: '';
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      background: $black;
      border-radius: 100%;
    }
  }

  .mouth{
    background: $dark-gray;
    margin: 3rem auto 0rem;
    width: 5.5rem;
    height: 2.8rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    animation: zoomy 5s infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;

    &:before{
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      background: $green;
      margin-left: 1rem;
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }
  }

  .feet{
    position: absolute;
    z-index: -3;
    display: flex;
    bottom: -1.2rem;
    left: -1.2rem;
    width: 14rem;
    height: 2.4rem;

    > *, &:before, &:after{
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      background: $white;
      border-radius: 50%;
      border-bottom: 0.4rem solid darken($white, 5%);
    }

    &:before{
      border-left: 1.2rem solid darken($white, 5%);
    }
    &:after{
      border-right: 0.5rem solid darken($white, 5%);
    }
    *:nth-child(odd){
      margin-top: 0.2rem;
    }
  }
}
