@keyframes floaty{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-3rem);
  }
}

@keyframes zoomy{
  0%, 100%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.8);
  }
}

@keyframes grimmace{
  20%, 80%{
    transform: scaleY(1);
  }
  30%{
    transform: scaleY(0.7);
  }
  75%{
    transform: scaleY(0.7);
  }
}

@keyframes tipsy{
  20%, 45%{
    transform: rotate(-10);
  }
  25%{
    transform: scaleY(1);
  }

  40%{
    transform: scaleY(1);
  }
}

@keyframes shifty{
  0%, 21%, 50%, 71%, 100%{
    transform: translateX(0rem);
  }
  1%, 20%{
    transform: translateX(-1rem);
  }
  6%{
    transform: translateX(-0.7rem);
  }
  51%, 70%{
    transform: translateX(1rem);
  }
  56%{
    transform: translateX(0.7rem);
  }
}