html{
  font-size: 62.5%; /* 10px = 1rem */
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

body{
  box-sizing: border-box;
  overflow: hidden;
  margin: 0rem;
  padding: 0rem;
  background: $dark-gray;
}

*, *:before, *:after{
  box-sizing: inherit;
  font-family: Nunito;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

header{
  color: $white;
  text-align: center;
  padding: 2rem;

  h1{
    font-family: 'Jolly Lodger';
    font-size: 5rem;
    letter-spacing: 0.4rem;
    color: $orange;
    margin: 0rem;
  }

  h2{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: lighten($dark-gray, 20%);
  }
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 40rem;
  height: 40rem;
  padding: 1rem;
}

a{
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: lighten($dark-gray, 30%);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}